<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- دسترسی‌ها -->
    <!-- اینترنت -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- دوربین -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- دسترسی به فایل‌ها و رسانه‌ها (اندروید 13 به بعد) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- فقط تا API 28 برای حافظه خارجی -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- بازخورد لمسی -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- روشن نگه داشتن صفحه -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- تماس مستقیم (در صورت نیاز در url_launcher) -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->

    <application
        android:name="${applicationName}"
        android:label="آیین نامه رانندگی"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:debuggable="false"
        android:allowAudioPlaybackCapture="false"
        android:hasFragileUserData="false"
        tools:targetApi="33">

        <!-- اکتیویتی اصلی -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:noHistory="false">

            <!-- تم قبل از بارگذاری فلاتر -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- لانچر -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- نمایش تصویر تمام‌صفحه -->
        <activity
            android:name="com.pichillilorenzo.flutter_image_viewer.com.pichillilorenzo.flutter_image_viewer.FlutterImageViewerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="io.flutter.embedding.android.FlutterActivity" />

        <!-- برش و انتخاب تصویر -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="io.flutter.embedding.android.FlutterActivity" />

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Flutter Embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- سازگاری نسخه‌ها -->
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="33" />

    <!-- ویژگی‌های سخت‌افزاری -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <!-- کوئری‌ها برای اندروید 11+ -->
    <queries>
        <!-- پردازش متن -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>

        <!-- اشتراک‌گذاری -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>

        <!-- مرورگر -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- ایمیل -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>
</manifest>

